li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  margin: 30px;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  display: inline-block;
  height: 50px;
  min-width: 75px;
  padding: 10px 32px 9px;

  text-align: center;
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: blue;
}

.value {
  font-weight: 700;
  font-size: larger;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
